Repository GroceryMateOst/GroceryMateCodeBase, pull requests merged in 2023-05, with the labels that each got.

#111 Task 97 rest endpoint to update the state of an groceryrequest
  backend/CodeBase.sln.DotSettings.user
  backend/grocery-mate-backend/BusinessLogic/Validation/Shopping/GroceryValidation.cs
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Controllers/User/AuthenticationController.cs
  backend/grocery-mate-backend/Data/DataModels/UserManagement/User.cs
  backend/grocery-mate-backend/Models/Authentication/AuthenticationResponseDto.cs
  backend/grocery-mate-backend/Models/Shopping/DetailedGroceryResponseDto.cs
  backend/grocery-mate-backend/Models/Shopping/GroceryResponseBaseDto.cs
  backend/grocery-mate-backend/Models/Shopping/GroceryResponseDto.cs
  backend/grocery-mate-backend/Models/Shopping/GroceryUpdateDto.cs
  backend/grocery-mate-backend/Repositories/Authentication/AuthenticationRepository.cs
  backend/grocery-mate-backend/Repositories/Authentication/CanceledTokensRepository.cs
  backend/grocery-mate-backend/Repositories/Authentication/IAuthenticationRepository.cs
  backend/grocery-mate-backend/Repositories/Generic/GenericRepository.cs
  backend/grocery-mate-backend/Repositories/Shopping/IShoppingRepository.cs
  backend/grocery-mate-backend/Repositories/Shopping/ShoppingRepository.cs
Labels: Backend, Sprint 5 Pralinato, Sprint 6 Frapuccino

#115 91 implement search by zip code
  backend/CodeBase.sln.DotSettings.user
  backend/grocery-mate-backend-Test/Unit/BusinesLogic/Validation/Address/AddressValidationTest.cs
  backend/grocery-mate-backend-Test/Unit/BusinesLogic/Validation/Authentication/AuthenticationValidationTest.cs
  backend/grocery-mate-backend-Test/Unit/BusinesLogic/Validation/Shopping/GroceryValidationTest.cs
  backend/grocery-mate-backend-Test/Unit/BusinesLogic/Validation/UserSettings/UserValidationTest.cs
  backend/grocery-mate-backend-Test/Unit/Service/UserServiceTest.cs
  backend/grocery-mate-backend/BusinessLogic/Validation/Address/AddressValidation.cs
  backend/grocery-mate-backend/BusinessLogic/Validation/Authentication/AuthenticationValidation.cs
  backend/grocery-mate-backend/BusinessLogic/Validation/Shopping/GroceryValidation.cs
  backend/grocery-mate-backend/BusinessLogic/Validation/UserSettings/UserValidation.cs
  backend/grocery-mate-backend/BusinessLogic/Validation/ValidationBase.cs
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Controllers/User/AuthenticationController.cs
  backend/grocery-mate-backend/Controllers/User/UserSettingsController.cs
  backend/grocery-mate-backend/Data/DataModels/Shopping/GroceryRequest.cs
  backend/grocery-mate-backend/Models/Shopping/GroceryBaseDto.cs
  backend/grocery-mate-backend/Models/Shopping/GroceryResponseDto.cs
  backend/grocery-mate-backend/Repositories/Settings/AddressRepository.cs
  backend/grocery-mate-backend/Repositories/Shopping/IShoppingRepository.cs
  backend/grocery-mate-backend/Repositories/Shopping/ShoppingRepository.cs
  backend/grocery-mate-backend/Repositories/UOW/UnitOfWork.cs
  backend/grocery-mate-backend/Service/DistanceCalculationService.cs
  backend/grocery-mate-backend/Service/GeoApifyAPI.cs
  frontend/cypress/e2e/02.user.cy.ts
  frontend/src/App.tsx
  frontend/src/components/GroceryListOverView/GroceryListItem.tsx
  frontend/src/components/GroceryListOverView/GroceryListOverView.tsx
  frontend/src/models/GroceryRequestModel.ts
  frontend/src/pages/SearchPage.tsx
  frontend/src/services/shopping-service.ts
Labels: Backend, Frontend, Sprint 5 Pralinato

#129 Remove all Migic Numbers and Strings from Code [#101]
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Controllers/User/AuthenticationController.cs
  backend/grocery-mate-backend/Controllers/User/UserSettingsController.cs
  backend/grocery-mate-backend/Utility/LogMessages.cs
Labels: Backend, Sprint 6 Frapuccino

#130 Remove BaseController [#126]
  backend/grocery-mate-backend/Controllers/BaseController.cs
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Controllers/User/AuthenticationController.cs
  backend/grocery-mate-backend/Controllers/User/UserSettingsController.cs
Labels: Backend, Sprint 6 Frapuccino

#133 User stroy 117 mail sent upon acceptance of an order to client contractor
  backend/CodeBase.sln.DotSettings.user
  backend/grocery-mate-backend-Test/Unit/BusinesLogic/Notification/Mail/MailNotifierTest.cs
  backend/grocery-mate-backend-Test/Unit/Service/UserServiceTest.cs
  backend/grocery-mate-backend/BusinessLogic/Notification/Mail/MailConfigs.cs
  backend/grocery-mate-backend/BusinessLogic/Notification/Mail/MailNotification.cs
  backend/grocery-mate-backend/BusinessLogic/Notification/Mail/MailNotifier.cs
  backend/grocery-mate-backend/BusinessLogic/Notification/Mail/NotificationMessages.cs
  backend/grocery-mate-backend/BusinessLogic/Notification/NotificationConfigs.cs
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Models/Authentication/AppSettingsGMailDto.cs
  backend/grocery-mate-backend/Repositories/Authentication/AuthenticationRepository.cs
  backend/grocery-mate-backend/Repositories/Authentication/IAuthenticationRepository.cs
  backend/grocery-mate-backend/appsettings.json
Labels: Backend, Sprint 6 Frapuccino

#131 add console-logging [#118]
  backend/grocery-mate-backend/Utility/Log/GmLogger.cs
Labels: Backend, Sprint 6 Frapuccino

#134 ensure that all REST endpoints communicate exclusively via DTOs [#127]
  backend/grocery-mate-backend/Controllers/ShoppingController.cs
  backend/grocery-mate-backend/Controllers/User/AuthenticationController.cs
  backend/grocery-mate-backend/Controllers/User/UserSettingsController.cs
  backend/grocery-mate-backend/Models/Address/ZipCodeResponseDto.cs
  backend/grocery-mate-backend/Service/GeoApifyAPI.cs
  frontend/src/services/shopping-service.ts
Labels: Backend, Task
